grid.titlebar {
	padding: 0;
}

.titlebar {
    border: none;
}

.timer-grid {
    background-color: #eff6ee;
    color: #f02d3a;
  
}


.timer-header {
   
     background-color: #eff6ee;
}

.working-time {
    background-color : #ee6055;
    color: #eff6ee;
}

.break-time {
    background-color : #aaf683;
    color: #60d394;
}
